
@{
    ViewBag.Title = "Nota";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Calculando minha nota</h2>

<form action="CalculaNota" method="post">
    <div>
        <label for="Erros"><b>Digite a quantidade de erros: </b></label>
        <input type="text" name="Erros" id="Erros" />
        <input type="submit" value="Calcular" />
    </div>
</form>
