@model ExeSeneLauIII.Models.Funcionario
@{
    ViewBag.Title = "SelectFunc";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Funcionário cadastrado</h2>

<div>
    <p><b>Código: </b> @ViewBag.Codigo</p>
    <p><b>Nome: </b> @ViewBag.Nome</p>
    <p><b>Função: </b> @ViewBag.Funcao</p>
</div>

