@model ExeSeneLauIII.Models.Funcionario
@{
    ViewBag.Title = "GetFuncionario";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Funcionário cadastrado</h2>

<div>
    <p><b>Codigo: </b> @ViewBag.Codigo</p>
    <p><b>Codigo: </b> @ViewBag.Nome</p>
    <p><b>Codigo: </b> @ViewBag.Funcao</p>
</div>

