
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Funcionário</title>
</head>
<body>
    <div>
        <h1>Desculpe!</h1>
        <h2>Área em desenvolvimento clique em @Html.ActionLink("Retornar", "Inicio", "Home").</h2>
    </div>
</body>
</html>
